$black: #000;
$white: #fff;

$gray-20:            #293335;
$gray-30:            #485557;
$gray-40:            #737f81;
$gray-50:            #a3a9ac;
$gray-70:            #d3d4d6;
$gray-80:            #e0e0e0;
$gray-90:            #f4f4f4;

$red-30:             #78000A;
$red-50:             #AD2522;
$red-70:             #EF535F;
$red-80:             #f68e93;
$red-90:             #fbb1b4;

$orange-40:          #e98b20;
$orange-50:          #ff7200;
$orange-60:          #FE9D30;
$orange-70:          #ffba74;
$orange:          #F9931C;

$green-50:           #898D3E;
$green-60:           #A6AA70;
$green-70:           #C4C5A0;

$blue-50:            #729abd;

$yellow-50:          #fdc400;
$yellow-90:          #f9e8ac;