@import "../styles/global.scss";
.hamburger {
    padding: 10px;
    & > svg{
        width: 30px;
        height: 30px;
        box-sizing: border-box;
    }
}
.layout{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    & &-sidebar{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        height: 100vh;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;

        &-mobile_inactive{
            display: none;
        }
        &-close{
            display: flex;
            border: none;
            background-color: #000;
            color: #fff;
            border-radius: 8px;
            padding: 8px 14px;
            margin: 10px auto;
        }
    }

    & &-main{
        display: flex;
        flex-direction: column;
    }

    & &-nodata{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@include bp(desktop){
    .hamburger {
        display: none;
    }
    .layout{
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: 18px;
        margin-top: 10px;
        box-sizing: border-box;
        & &-sidebar{
            position: relative;
            width: 100%;
            margin: 0;
            padding: 16px 12px;
            height: calc(100vh - 100px);
            box-sizing: border-box;
            border-radius: 6px;
            box-shadow: 0px 0px 1px 0px #171A1F12;
            box-shadow: 0px 0px 2px 0px #171A1F1F;

            &-close{
                display: none;
            }
        }
    }
    
}


